# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Backups
backup.txt
backups/
data/backups/

# Reports
reports/
data/reports/

# Cache
.pytest_cache/
.mypy_cache/

# System Files
.DS_Store
Thumbs.db

# Secrets
.env

# SSH Keys
*.pem
*.key

# Cisco Lab Files
*.qcow2
*.vmdk
*.iso

# GNS3
project-files/
*.gns3project

# Packet Tracer
*.pkt

# Temporary Files
tmp/
temp/

# Database
*.db
*.sqlite3